<div class="container">
    <form class="form">
        <h1 class="fullwidth">Atualizar Pessoa</h1>

        <p>
            <mat-form-field class="fullwidth" appearance="legacy">
              <mat-label>Nome</mat-label>
              <input 
              [(ngModel)]="pessoa.nome"
              name="nome"
              [formControl]="nome" 
              required
              matInput
              placeholder="Ex: João Da Silva">
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="fullwidth" appearance="legacy">
              <mat-label>Data de Nascimento</mat-label>
              <input 
              [(ngModel)]="pessoa.dataDeNascimento"
              name="dataDeNascimento"
              [formControl]="dataDeNascimento" 
              required
              type="date" 
              matInput 
              placeholder="Ex: 2002-07-18"
              mat-icon="null">
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="fullwidth" appearance="legacy">
              <mat-label>RG</mat-label>
              <input 
              [(ngModel)]="pessoa.rg"
              name="rg"
              [formControl]="rg" 
              required 
              matInput 
              placeholder="Ex: 569484806">
              <mat-icon matSuffix>badge</mat-icon>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="fullwidth" appearance="legacy">
              <mat-label>CPF</mat-label>
              <input 
              [(ngModel)]="pessoa.cpf"
              name="cpf"
              [formControl]="cpf" 
              required
              matInput 
              placeholder="Ex: 50604321812">
              <mat-icon matSuffix>pin</mat-icon>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="fullwidth" appearance="legacy">
              <mat-label>Telefone</mat-label>
              <input 
              [(ngModel)]="pessoa.telefone"
              name="telefone"
              [formControl]="telefone" 
              required
              matInput 
              placeholder="Ex: 16994638883">
              <mat-icon matSuffix>smartphone</mat-icon>
            </mat-form-field>
          </p>

          <button (click)="update()" [disabled]="!validaCampos()" class="fullwidth" mat-stroked-button color="primary">Atualizar</button>
          <button class="fullwidth" mat-stroked-button color="warn" routerLink="../../">Cancelar</button>
    </form>
</div>

