<mat-card class="card">
    <mat-card-header>
      <mat-card-title>Crud</mat-card-title>
      <mat-card-subtitle>Pedro Pauli</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/imagem2.png" alt="Imagem angular com spring">
    <mat-card-content>
      <p>
        Ola! Seja bem vindo a meu crud com Angular ligado ao back-end do Spring, agora veja um lorem ipsum
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum tempora unde aut nisi molestiae, et beatae nesciunt non suscipit reprehenderit ut magnam laudantium enim sint optio aliquid voluptate aperiam asperiores.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores recusandae culpa omnis deserunt enim vitae corrupti sint temporibus iste illum ab magnam, corporis eius voluptatibus. Aperiam adipisci autem ducimus necessitatibus?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis numquam, deleniti laudantium molestiae odio officiis soluta magnam. Quibusdam, voluptatem voluptas. Fugit nobis illum accusantium cupiditate odit soluta voluptatem, consectetur cum?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, enim in. Libero recusandae, aspernatur, tenetur maxime cupiditate, laboriosam ipsam quas dolorem illum sapiente nihil nulla deleniti? Vero unde facere eum!
      </p>
    </mat-card-content>
  </mat-card>
  
