.container{
    width: 90%;
    margin: auto;
} 

table {
    width: 100%;
  } 
.buscas{
    display: flex;
    justify-content: space-between;
}

.edit{
    color: rgb(53, 53, 250);
}
.delete{
    color: red;
}

  mat-form-field{
      width: 30%;
  }

  button{
      width: 100%;
  }

  h1{
      width: 100%;
      text-align: center;
      
  }